<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="auth-container">
    <h2>Регистрация</h2>

    <input id="reg-username" type="text" placeholder="Логин">
    <input id="reg-password" type="password" placeholder="Пароль">

    <button onclick="registerUser()">Создать аккаунт</button>

    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
</div>

<script>
async function registerUser() {
    let username = document.getElementById("reg-username").value;
    let password = document.getElementById("reg-password").value;

    let response = await fetch("/api/register", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username, password })
    });

    let data = await response.json();

    if (data.status === "ok") {
        window.location = "/login";
    } else {
        alert("Логин занят");
    }
}
</script>

</body>
</html>
