<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <a href="/" class="header-back-btn"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>ПОЛИТИКА</h1>
            <div style="width: 24px;"></div>
        </header>

        <div class="content-padding">
             <div style="background: white; border-radius: 12px; padding: 20px; font-size: 14px; color: #666; line-height: 1.6; white-space: pre-wrap;">
1. Сбор и использование данных 1.1. Игра функционирует на базе платформы Telegram и использует данные, предоставляемые через Telegram WebApp SDK. 1.2. Мы собираем следующие данные Пользователя:
+3

Публичный идентификатор Telegram (User ID).

Имя пользователя (Username) и отображаемое имя для формирования Глобального рейтинга (Leaderboard).
+2

Данные об игровом прогрессе и истории транзакций внутри симулятора.
+2

2. Цели обработки данных 2.1. Обеспечение работоспособности игровых механик и сохранение прогресса Пользователя. 2.2. Формирование соревновательных таблиц лидеров для повышения вовлеченности. 2.3. Рассылка системных Push-уведомлений о событиях в Игре и изменении стоимости портфеля.
+4

3. Передача данных третьим лицам 3.1. Администрация проекта обязуется не передавать персональные данные (ID, никнеймы) третьим лицам без явного согласия Пользователя, за исключением случаев, предусмотренных законодательством. 3.2. Обработка данных осуществляется в соответствии с международными стандартами защиты информации (GDPR).
+1

4. Безопасность 4.1. Все запросы между клиентом и сервером защищены шифрованием HTTPS/SSL и проходят валидацию через Telegram Init Data
             </div>
        </div>
    </div>
</body>
</html>