<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила игры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="app-container">
        <header class="app-header">
            <a href="/" class="header-back-btn"><i class="fa-solid fa-chevron-left"></i></a>
            <h1>ПРАВИЛА</h1>
            <div style="width: 24px;"></div>
        </header>

        <div class="content-padding">
             <div style="background: white; border-radius: 12px; padding: 20px; font-size: 14px; color: #666; line-height: 1.6; white-space: pre-wrap;">
Условие игры:
Регистрация и стартовый капитал.

Каждому пользователю начисляется фиксированный стартовый капитал в размере 100 000 виртуальных Долларов.

Данный баланс является общим для всех рынков (Акции, Крипто, Скины) и используется для совершения всех первичных сделок.
Правила совершения торговых операций
Исполнение сделок: Все сделки в симуляторе происходят мгновенно по текущей рыночной цене, транслируемой сервером.



Режим «Hold»: Пользователь может удерживать активы неограниченное количество времени. Виртуальная прибыль или убыток фиксируются только в момент продажи актива.

Механика «Игровых событий» и новостей
Цены в игре меняются не случайно, а в зависимости от сгенерированных системой новостей.

Типы событий:

Глобальные: Влияют на весь рынок (например, «Экономический кризис» — падение всех акций на 10%).

Отраслевые: Влияют на конкретную группу (например, «Хакатон в сети TON» — рост криптоактивов на 15%).

Индивидуальные: Влияют на один актив (например, «Новый кейс в CS2» — падение цен на старые скины).

Время реакции пользователя на новость является ключевым фактором успеха и местом в рейтинге.

ТЕХНИЧЕСКИЕ ОГРАНИЧЕНИЯ И ЗАПРЕТЫ
Для поддержания честной игровой среды пользователям запрещается:

Мультиаккаунтинг: Создание нескольких профилей Telegram для манипуляции ценами или получения дополнительных стартовых бонусов.

Эксплуатация багов: Использование программных ошибок для получения нечестного преимущества. При обнаружении бага пользователь обязан сообщить в поддержку, за что может получить игровое вознаграждение.
             </div>
        </div>
    </div>
</body>
</html>